<div class="navigation-wrapper-copy-copy-copy">
    <a href="{{ links.2f }}" class="logo hi w-inline-block"><img src="{{ images.-2c4b5b96.url }}" alt="{{ images.-2c4b5b96.alt | trim | escape }}" class="image-115"></a>
    <div class="button-menu">
      <div class="menu-1"></div>
      <div class="menu-2"></div>
    </div>
  </div>