<div class="navigation-wrapper-copy-copy-copy-copy">
    <a href="{{ links.23 }}" class="logo-copy w-inline-block"><img src="{{ images.4b780196.url }}" alt="{{ images.4b780196.alt | trim | escape }}" class="image-115"></a>
    <div class="button-menu">
      <div class="menu-1"></div>
      <div class="menu-2"></div>
    </div>
  </div>